@media only screen and (max-width: 450px) {
    html{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1{
        font-size: 15;
    }

    p{
        font-size: 10px;
    }
}