@import url(animations.css);
@import url(responsive.css);

:root {
  --primary-color: #fd951f;
  --bg-color: #130f0d;
  --text-color: #f0f0f5;
  --btn-hover-color: #a35e0f;
  --light-color: rgba(255, 255, 255, 0.04);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

html {
  width: 100%;
  height: 100vh;
  /* A cada 1rem será considerado 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100%;

  display: flex;
  flex-direction: column;

  background-color: #130f0d;
  color: #f0f0f5;
  font-family: 'Inter';
}

form {
  background: rgba(255, 255, 255, 0.03);

  max-width: 400px;
  width: 100%;
  margin: 25px auto;
  padding: 12px 29px;

  display: flex;
  flex-direction: column;
}

form h2 {
  margin-bottom: 32px;
  text-align: center;
  font-weight: 800;
  font-size: 2.5rem;
}

div.input {
  margin-bottom: 24px;
  position: relative;
  font-size: 1.5rem;
}

input,
button,
textarea {
  /* reset appeareance */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* box */
  width: 100%;

  padding: 16px 0;

  border: none;
  border-bottom: 1px solid var(--primary-color);

  background-color: transparent;

  outline: none;

  /* text */
  color: var(--text-color);
  font-size: 1em;

}

button {
  margin-top: 16px;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 1.6rem;
}

input~label {
  position: absolute;
  top: 16px;
  left: 0;

  color: rgba(255, 255, 255, 0.6);

  transition: .4s;
  font-size: 1.6rem;
}


input:focus~label,
input:valid~label {
  transform: translateY(-24px);
  font-size: 0.8em;
  letter-spacing: 0.1em;
  font-size: 1.6rem;
  font-weight: 400;
}

textarea~label {
  position: absolute;
  top: 16px;
  left: 0;

  color: rgba(255, 255, 255, 0.6);

  transition: .4s;

}

textarea:focus~label,
textarea:valid~label {
  transform: translateY(-24px);
  letter-spacing: 0.1em;
  font-size: 1.6rem;
  font-weight: 400;
}


.input span.error {
  display: flex;

  padding: 0;

  background-color: rgba(255, 0, 0, 0.2);
  font-size: 1.3rem;
}

.input span.error.active {
  border: 1px solid red;
  padding: 0.4em;
  font-size: 1.3rem;
}

#containercards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}




.cards {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
  width: 100%;
  height: 48rem;
}

.divImg{
  width: 100%;
  height: 30rem;
  position: relative;
}

.cardsimg{
  width:100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
}

.divDescricao{
  width: 100%;
  height: 100%;
  text-align: center;
}

.cardtitulo {
  font-size: 2rem;
  font-weight: 800;
  word-break: break-all;
  margin-top: 10px;
}

.cardsconteudo {
  text-align: center;
  font-size: 1.5rem;
  word-break: break-all;
}

.btnremove {
  width: 1rem;
  height: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 13px;
  border-radius: 15px;
  position: absolute;
  left: 1%;
  margin-top: 5px;
  transition: 0.5s ease-in-out;
}