@import url(animations.css);
@import url(responsive.css);

:root {
  --primary-color: #fd951f;
  --bg-color: #130f0d;
  --text-color: #f0f0f5;
  --btn-hover-color:#a35e0f;
  --light-color: rgba(255, 255, 255, 0.04);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

body {
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: #130f0d;
  color: #f0f0f5;
}

form {
  background: rgba(255, 255, 255, 0.03);

  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 12px 29px;

  display: flex;
  flex-direction: column;
}

form h2 {
  margin-bottom: 32px;
  text-align: center;
  font-weight: 800;
}

div.input {
  margin-bottom: 24px;
  position: relative;
}

input,
button, textarea {
  /* reset appeareance */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* box */
  width: 100%;

  padding: 16px 0;

  border:none;
  border-bottom: 1px solid var(--primary-color);

  background-color: transparent;

  outline: none;

  /* text */
  color: var(--text-color);
  font-size: 1em;

}

button {
  margin-top: 16px;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

input ~ label {
  position: absolute;
  top: 16px;
  left: 0;

  color: rgba(255, 255, 255, 0.6) ;

  transition: .4s;
}


input:focus ~ label,
input:valid ~ label {
  transform: translateY(-24px);
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

textarea ~ label {
  position: absolute;
  top: 16px;
  left: 0;

  color: rgba(255, 255, 255, 0.6) ;

  transition: .4s;
}

textarea:focus ~ label,
textarea:valid ~ label {
  transform: translateY(-24px);
  font-size: 0.8em;
  letter-spacing: 0.1em;
}


.input span.error {
  display: flex;
  
  padding: 0;

  background-color: rgba(255, 0, 0, 0.2);
}

.input span.error.active {
  border: 1px solid red;
  padding: 0.4em;
}

.cardsimg{
  max-width: 450px;
  max-height: 450px;
}

.btnremove{
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  left: 92%;
  margin-top: 5px;
  transition: 0.5s ease-in-out;
}

.cards{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}